:root{
    --color1:#F11A7B;
    --color2:wheat;
    --color3:#FFE5AD;
    --color4:black;
    --color5:#982176;
    --color6:#3E001F;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

*{
    padding:0px;
    margin:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    margin: 30px 0px;
}

.container .box{
    background-color: var(--color3);
    min-height: 500px;
    width: 600px;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0 0 20px var(--color5);
}

.box h2{
    text-align: center;
    text-transform: uppercase;
    word-spacing: 2px;
    width: 100%;
    font-size: 28px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: var(--color6);
    line-height: 1.2em;
}

.box h4{
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    font-size: 20px;
    margin-top: 10px;
}

.box > .content{
    width: 100%;
    padding: 50px 30px;
}

.box > .content div{
    margin-bottom: 20px;
    width: 100%;
}

.box .content div label{
    font-size: 16px;
    color: var(--color4);
    padding-left: 5px;
}

.box .content div select{
    width: 150px;
    height: 30px;
    font-size: 16px;
    border-radius: 5px;
}

.box .content div button{
    font-size: 18px;
    margin: 10px 0;
    background-color: var(--color1);
    color: var(--color2);
    width: 200px;
    height: 40px;
    border-radius: 7px;
    letter-spacing: 2px;
    cursor: pointer;
    border: 2px solid var(--color4);
}

.box .content div input{
    width: 200px;
    height: 30px;
    outline: none;
    border:none;
    padding: 5px 10px;
    font-size: 16px;
    background-color: transparent;
    border-bottom: 2px solid var(--color6);
}

.box .content .inputs{
    display: none;
}

/* Responsive Design */
@media (max-width:480px){
    .container .box{
        width: 420px;
    }

}
